<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Libre+Baskerville&display=swap');
      #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}

      .lexend {
        font-family: "Lexend", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
      }
    </style>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>
  <body class="h-screen pt-20" style="background-color: #008080;">
    <div class="ml-20 mt-20 text-white">
      <h1 class="text-5xl mb-8 lexend">GoodLake</h1>
      <p class=" text-2xl lexend mb-8">Frictionless non-financial data and disclosures. Coming soon-ish.</p>
      {{ content }}
    </div>
  </body>
</html>
